<h><%=ssn.email %></h>
<nav class="navbar navbar-light bg-light justify-content-between">
    <ul>
        <li class="nav-item active">
            <a class="nav-link" href="/user/dashboard">Dashboard</a>
          </li>
    </ul>
    <a class="navbar-brand">Expenditure</a>
    <form class="form-inline" method="POST" action="/user/Status">
      <input  id="searchi" name="search" class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-secondary btn-block"  type="submit">Search</button>
    </form>
  </nav>
  <br>
  
  <center>
  <% if(arg.length > 0){ %>
    <% var ct=0 %>
    <% arg.forEach(function(data) { %>
        <div class="card" style="width: 18rem;">
       <h4 class="card-title" style="color:red;">Grossary Item Name:<%= data.ProductName %></h4>
       <p class="card-text">Quantity=<%=data.Quantity %></p>
       <p class="card-text">QuantityType=<%=data.QuantityType %></p>

       <p class="card-text">Price of given quantity=<%=data.PriceQuantity %></p>
       <p class="card-text">Date Of Purchase=<%=data.date %></p>
       
        <% ct+=data.PriceQuantity %>
    </div>
    <br>
    <% }); %>
<% } else{ %>  
    <p>No Match Found</p>
<% } %>
  
  </div>
</center>  
<h1>Total Expenditure in the month is:<%=ct %></h1>